<div class="mobile-header" [ngClass]="{'hide': !isNavbarVisible, 'expanded': visibleMenu}">
    <div class="upper-part">
        <div class="logo-wrapper">
            <img src="../../assets/images/logo.svg" class="logo" alt="">
        </div>

        <div class="buttons-wrapper">
            <button class="nav-links" (click)="setActive(activePageType.about)"
                [ngClass]="{'active' : activeSection() === activePageType.about}">
                About
            </button>
            <button class="nav-links" (click)="setActive(activePageType.portfolio)"
                [ngClass]="{'active' : activeSection() === activePageType.portfolio}">
                Portfolio
            </button>
            <button class="nav-links" (click)="setActive(activePageType.contact)"
                [ngClass]="{'active' : activeSection() === activePageType.contact}">
                Contact
            </button>
        </div>

        <button class="hamburger-button" (click)="toggleMenu()"
            [attr.aria-label]="visibleMenu ? 'Collapse Menu' : 'Expand menu'">
            <app-hamburger [open]="visibleMenu" />
        </button>
    </div>

    <div class="main-menu">
        <button class="nav-links" (click)="setActive(activePageType.about)"
            [ngClass]="{'active' : activeSection() === activePageType.about}">
            About
        </button>
        <button class="nav-links" (click)="setActive(activePageType.portfolio)"
            [ngClass]="{'active' : activeSection() === activePageType.portfolio}">
            Portfolio
        </button>
        <button class="nav-links" (click)="setActive(activePageType.contact)"
            [ngClass]="{'active' : activeSection() === activePageType.contact}">
            Contact
        </button>
    </div>

</div>