<div class="hero-section">
    <div class="name-container-wrapper">
        <div class="name-container" id="search-focus-hero-section">
            <span class="title">I'm <span class="enlarged name">John Keikoglou</span></span>
            <span class="about">Senior Front-End Engineer</span>
            <span class="about">Angular, React, Flutter</span>
            <button class="contact-button" (click)="contactClick()">
                Contact Me
            </button>
        </div>

    </div>

    <div class="handsome"></div>
</div>