@import "../../design/media-queries";

:host {
    width: 100%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 100px 0;
    background-color: var(--secondary-background);
    position: relative;
    border-bottom: 2px solid var(--accent);

    .title-container {
        display: flex;
        width: 100%;
        gap: 8px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -1.5rem;

        .section-title {
            text-wrap: nowrap;
            line-height: 3rem;
        }

        .line {
            height: 2px;
            width: 100%;
            background-color: var(--accent);
        }
    }
}

.upper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    padding: 16px 24px;
    background-color: var(--primary-background);
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    color: var(--accent);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    @include tablet-min {
        font-size: 1.25rem;
    }

    &:hover {
        transform: scale(1.05);
        background-color: var(--accent);
        color: var(--primary-background);
    }

    &:focus-visible {
        outline: 2px solid var(--accent);
        outline-offset: 2px;
    }

    .icon {
        width: 32px;
        min-width: 32px;
        aspect-ratio: 1/1;
    }
}