<div class="contact-section">
    <div class="title-container">
        <div class="line"></div>
        <span class="section-title">Contact Me</span>
        <div class="line"></div>
    </div>
    <div class="upper">
        <a href="mailto:john.keikoglou@gmail.com" class="email-button">
            <img src="../../assets/images/contact/email.svg" alt="" class="icon">
            <span>{{'john.keikoglou@gmail.com'}}</span>
        </a>
        <a href="tel:6983440401" class="phone-button">
            <img src="../../assets/images/contact/phone.svg" alt="" class="icon">
            <span>{{'6983440401'}}</span>
        </a>
    </div>
    <a href="https://maps.google.com?q=Thessaloniki,+Greece" target="_blank" class="location-button">
        <img src="../../assets/images/contact/location.svg" alt="" class="icon">
        <span>{{'Thessaloniki, Greece'}}</span>
    </a>
    <div class="social-container">
        <div class="dash"></div>
        <a href="https://www.linkedin.com/in/john-keikoglou/" target="_blank" rel="noopener noreferrer">
            <cwo-icon [name]="iconNameType.linkedin"></cwo-icon>
        </a>
        <a href="https://github.com/johnkeik" target="_blank" rel="noopener noreferrer">
            <cwo-icon [name]="iconNameType.github"></cwo-icon>
        </a>
        <a href="https://www.facebook.com/jannis.keikoglou/" target="_blank" rel="noopener noreferrer">
            <cwo-icon [name]="iconNameType.facebook"></cwo-icon>
        </a>
        <a href="https://www.instagram.com/giannis_keik/" target="_blank" rel="noopener noreferrer">
            <cwo-icon [name]="iconNameType.instagram"></cwo-icon>
        </a>
    </div>    

</div>