<div class="skills-section">
  <span class="section-title skills-section-title">My Skills</span>
  <div class="squares-container">
    <div class="square0 square square-first">
      <img [src]="skills[0].imgSrc" [alt]="skills[0].title">
      <span>{{skills[0].title}}</span>
    </div>
    <div class="square1 square  square-first">
      <img [src]="skills[1].imgSrc" [alt]="skills[1].title">
      <span>{{skills[1].title}}</span>
    </div>
    <div class="square2 square square-first">
      <img [src]="skills[2].imgSrc" [alt]="skills[2].title">
      <span>{{skills[2].title}}</span>
    </div>
    <div class="square3 square square-first">
      <img [src]="skills[3].imgSrc" [alt]="skills[3].title">
      <span>{{skills[3].title}}</span>
    </div>
    <div class="square4 square square-second">
      <img [src]="skills[4].imgSrc" [alt]="skills[4].title">
      <span>{{skills[4].title}}</span>
    </div>
    <div class="square5 square square-second">
      <img [src]="skills[5].imgSrc" [alt]="skills[5].title">
      <span>{{skills[5].title}}</span>
    </div>
    <div class="square6 square square-second">
      <img [src]="skills[6].imgSrc" [alt]="skills[6].title">
      <span>{{skills[6].title}}</span>
    </div>
    <div class="square7 square square-third">
      <img [src]="skills[7].imgSrc" [alt]="skills[7].title">
      <span>{{skills[7].title}}</span>
    </div>
    <div class="square8 square  square-third">
      <img [src]="skills[8].imgSrc" [alt]="skills[8].title">
      <span>{{skills[8].title}}</span>
    </div>
  </div>
</div>