<app-header [activeSection]="activeSection()" (goToSection)="goToSection($event)"/>

<app-hero #aboutSection (goToSection)="goToSection($event)"/>

<div class="about-section">
  <span class="section-title about-section-title">About</span>
  <div class="description-container about-section-description">
    <div class="dash"></div>
    <span class="description">Innovative and results-driven front-end engineer with a passion for crafting seamless, high-performance web and mobile experiences using Angular and React Native. Known for technical excellence, clear communication, and a strong collaborative approach, I thrive in fast-paced environments, building scalable, efficient, and user-centric applications. I take pride in optimizing performance, implementing best practices, and mentoring teams, ensuring both technical growth and product success. Whether architecting complex solutions or fine-tuning UI interactions, I am committed to delivering exceptional digital experiences.</span>
  </div>
</div>

<app-skills />

<app-experience />

<app-portfolio #portfolioSection />

<app-contact #contactSection/>

<span class="thanks-section">"Thanks for scrolling"</span>
