:host {
    width: 300px;
    height: 300px;
    display: flex;
    position: relative;
    border-radius: 15px;
}

.card {
    position: absolute;
    inset: 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .8s;
    transition: all .8s;
    cursor: pointer;

    &:hover {

        transform: perspective(400px) rotateY(180deg);
    }

    // &.flipped {

    // }

}

.card_front {
    // background-color: yellow;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;

    // &:hover {
    //     transform: scale(1.05);
    // }

    /* Just styling the text nicely */
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.card_back {
    background-color: grey;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: grid;
    align-items: center;
    background-color: var(--secondary-background);


    /* Just styling the text nicely */
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;

}




.modal-container {
    position: fixed;
    inset: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    /* Run the animation once */


    .overlay {
        background-color: black;
        opacity: 0.3;
        position: absolute;
        inset: 0;
    }

    .content {
        width: 400px;
        height: 400px;
        background-color: gold;
        animation: grow .3s forwards;
        z-index: 2;
    }

    @keyframes grow {
        from {
            transform: scale(0.1);
            /* Start small */
            opacity: 0;
            /* Optional: Start transparent */
        }

        to {
            transform: scale(1);
            /* End at normal size */
            opacity: 1;
            /* Optional: End opaque */
        }
    }
}