/* You can add global styles to this file, and also import other style files */
@import "./design/media-queries";

:root {
    --accent: #fec96a;
    --primary-text: #f9f9f9;
    --secondary-text: #a0a0a2;
    --primary-background: #34353a;
    --secondary-background: #3e3e41;
}

* {
    box-sizing: border-box;
}

html,
body {
    background-color: var(--primary-background);
    padding: 0;
    margin: 0;
    color: var(--primary-text);
}

button {
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    outline: inherit;
    border: none;
    cursor: pointer;

    &:focus-visible {
        outline: 2px solid var(--accent);
        outline-offset: 4px;
    }

}

.section-title {
    display: block;
    font-size: 2rem;

    @include tablet-min {
        font-size: 3rem;
    }
}